<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.teamo.auth.mapper.AuthMapper">

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserInsertDto">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USERS (
        USER_ID,
        EMAIL,
        PASSWORD_HASH,
        STATUS,
        NAME,
        PHONE,
        ROLE,
        REG_DT,
        MOD_DT,
        PROFILE_FILE_ID
        ) VALUES (
        #{userId},
        #{email},
        #{passwordHash},
        #{status},
        #{name},
        #{phone},
        'USER',
        SYSDATE,
        SYSDATE,
        #{profileFileId, jdbcType=NUMERIC}
        )
    </insert>

    <insert id="insertUserLanguage">
        INSERT INTO USER_TECH_STACK
        (
            USER_ID,
            DTL_CD_ID,
            REG_DT
        )
        VALUES
            (
                #{userId},
                #{dtlCdId},
                SYSDATE
            )
    </insert>

    <select id="findByEmail" resultType="LoginDto">
        SELECT
            USER_ID,
            EMAIL,
            PASSWORD_HASH
        FROM USERS
        WHERE email = #{email}
    </select>

    <update id="withdrawUser" parameterType="long">
        UPDATE USERS
        SET STATUS = 'DEACTIVATE',
            MOD_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <select id="existsEmail" resultType="int">
        SELECT count(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <select id="findById" resultType="User">
        SELECT
            USER_ID,
            EMAIL,
            NAME,
            PHONE,
            ROLE,
            PROFILE_FILE_ID
        FROM USERS
        WHERE USER_ID = #{userId}
    </select>

    <select id="findAll" resultType="TechStackResponse">
        SELECT
            ccd.COM_CD_ID,
            ccd.DTL_CD_ID,
            ccd.DTL_CD_NM
        FROM CMM_CODE_DTL ccd
        WHERE ccd.COM_CD_ID IN ('TECH_STACK', 'AI_FIELD', 'DESIGN_FIELD', 'MARKETING_FIELD', 'BUSINESS_FIELD')
    </select>

</mapper>