<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.matching.auth.mapper.AuthMapper">

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserInsertDto">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USERS (
        USER_ID,
        EMAIL,
        PASSWORD_HASH,
        STATUS,
        NAME,
        PHONE,
        ROLE,
        REG_DT,
        MOD_DT,
        PROFILE_FILE_ID
        ) VALUES (
        #{userId},
        #{email},
        #{passwordHash},
        #{status},
        #{name},
        #{phone},
        'USER',
        SYSDATE,
        SYSDATE,
        #{profileFileId, jdbcType=NUMERIC}
        )
    </insert>

    <select id="findByEmail" resultType="map">
        SELECT
            USER_ID,
            EMAIL,
            PASSWORD_HASH,
            STATUS
        FROM USERS
        WHERE email = #{email}
    </select>

    <insert id="upsertRefreshToken">
        MERGE INTO USER_REFRESH_TOKENS t
            USING DUAL
            ON (t.USER_ID = #{userId})
            WHEN MATCHED THEN
                UPDATE SET
                    t.TOKEN_HASH = #{refreshToken},
                    t.MOD_DT = SYSDATE,
                    t.EXPIRES_AT = SYSDATE + 14
            WHEN NOT MATCHED THEN
                INSERT (USER_ID, TOKEN_HASH, EXPIRES_AT, REG_DT, MOD_DT)
                    VALUES (#{userId}, #{refreshToken}, SYSDATE + 14, SYSDATE, SYSDATE)
    </insert>

    <select id="findRefreshToken" resultType="string">
        SELECT TOKEN_HASH
        FROM USER_REFRESH_TOKENS
        WHERE user_id = #{userId}
    </select>

    <update id="withdrawUser" parameterType="long">
        UPDATE USERS
        SET STATUS = 'DEACTIVATE',
            MOD_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteRefreshToken">
        DELETE FROM USER_REFRESH_TOKENS
        WHERE USER_ID = #{userId}
    </delete>

</mapper>