<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.teamo.auth.mapper.AuthMapper">

    <select id="countByEmail" resultType="int">
        SELECT COUNT(1)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <insert id="insertUser" parameterType="UserInsertDto">
        <selectKey keyProperty="userId" resultType="long" order="BEFORE">
            SELECT USERS_SEQ.NEXTVAL FROM DUAL
        </selectKey>

        INSERT INTO USERS (
        USER_ID,
        EMAIL,
        PASSWORD_HASH,
        STATUS,
        NAME,
        PHONE,
        ROLE,
        REG_DT,
        MOD_DT,
        PROFILE_FILE_ID
        ) VALUES (
        #{userId},
        #{email},
        #{passwordHash},
        #{status},
        #{name},
        #{phone, jdbcType=VARCHAR},
        'USER',
        SYSDATE,
        SYSDATE,
        #{profileFileId, jdbcType=NUMERIC}
        )
    </insert>

    <insert id="insertUserLanguage">
        INSERT INTO USER_TECH_STACK
        (
            USER_ID,
            DTL_CD_ID,
            REG_DT
        )
        VALUES
            (
                #{userId},
                #{dtlCdId},
                SYSDATE
            )
    </insert>

    <select id="findByEmail" resultType="LoginDto">
        SELECT
            USER_ID,
            EMAIL,
            PASSWORD_HASH
        FROM USERS
        WHERE email = #{email}
    </select>

    <update id="withdrawUser" parameterType="long">
        UPDATE USERS
        SET STATUS = 'DEACTIVATE',
            MOD_DT = SYSDATE
        WHERE USER_ID = #{userId}
    </update>

    <select id="existsEmail" resultType="int">
        SELECT count(*)
        FROM USERS
        WHERE EMAIL = #{email}
    </select>

    <resultMap id="userResultMap" type="User">

        <id property="id" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="name" column="NAME"/>
        <result property="phone" column="PHONE"/>
        <result property="role" column="ROLE"/>
        <result property="profileFileId" column="PROFILE_FILE_ID"/>
        <result property="provider" column="PROVIDER"/>

        <collection property="languages" ofType="TechStackResponse">
            <result property="dtlCdId" column="DTL_CD_ID"/>
            <result property="dtlCdNm" column="DTL_CD_NM"/>
        </collection>

    </resultMap>

    <select id="findById" resultMap="userResultMap">
        SELECT
            u.USER_ID,
            u.EMAIL,
            u.NAME,
            u.PHONE,
            u.ROLE,
            u.PROFILE_FILE_ID,
            ccd.DTL_CD_ID,
            ccd.DTL_CD_NM,
            sa.PROVIDER
        FROM USERS u
                 LEFT JOIN USER_TECH_STACK uts
                           ON uts.USER_ID = u.USER_ID
                 LEFT JOIN CMM_CODE_DTL ccd
                           ON ccd.DTL_CD_ID = uts.DTL_CD_ID
                 LEFT JOIN SOCIAL_ACCOUNTS sa
                           ON sa.USER_ID = u.USER_ID
        WHERE u.USER_ID = #{userId}
    </select>

    <select id="findAll" resultType="TechStackResponse">
        SELECT
            ccd.COM_CD_ID,
            ccd.DTL_CD_ID,
            ccd.DTL_CD_NM
        FROM CMM_CODE_DTL ccd
        WHERE ccd.COM_CD_ID IN ('TECH_STACK', 'AI_FIELD', 'DESIGN_FIELD', 'MARKETING_FIELD', 'BUSINESS_FIELD')
    </select>

    <update id="updateUser">
        UPDATE USERS
        <set>
            NAME = #{name},
            <if test="passwordHash !=null">
                PASSWORD_HASH = #{passwordHash},
            </if>
            MOD_DT = SYSDATE
        </set>
        WHERE USER_ID = #{userId}
    </update>

    <delete id="deleteUserLanguage">
        DELETE FROM USER_TECH_STACK
        WHERE USER_ID = #{userId}
    </delete>

    <select id="findSocialAccount" resultType="SocialAccount">
        SELECT *
        FROM SOCIAL_ACCOUNTS
        WHERE PROVIDER = #{provider}
          AND PROVIDER_USER_ID = #{providerUserId}
    </select>

    <insert id="insertSocialAccount">
        INSERT INTO SOCIAL_ACCOUNTS (
            SOCIAL_ID,
            USER_ID,
            PROVIDER,
            PROVIDER_USER_ID,
            REG_DT
        ) VALUES (
                     SOCIAL_SEQ.NEXTVAL,
                     #{userId},
                     #{provider},
                     #{providerUserId},
                     SYSDATE
                 )
    </insert>

    <select id="existsByUserId" parameterType="long" resultType="boolean">
        SELECT CASE
                   WHEN COUNT(1) > 0 THEN 1
                   ELSE 0
                   END
        FROM SOCIAL_ACCOUNTS
        WHERE USER_ID = #{userId}
    </select>
</mapper>