<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.teamo.post.mapper.PostMapper">

     <!-- 전체 메뉴 조회-->
    <select id="selectAllPosts" resultType="PostResponseDto" parameterType="PostRequestDto">

     SELECT
		     A.POST_ID
		   , A.USER_ID
		   , A.title
		   , A.PROGRESS_TYPE_CD
		   , C1.DTL_CD_NM AS PROGRESS_TYPE_NM
		   , A.PROGRESS_PERIOD
		   , A.RECRUIT_POSIT_TYPE_CD
		   , C2.DTL_CD_NM AS RECRUIT_POSIT_TYPE_NM
		   , A.RECRUIT_TYPE_CD
		   , C3.DTL_CD_NM AS RECRUIT_TYPE_NM
		   , B.TECH_STACK
		   , TO_CHAR(A.RECRUIT_END_DATE, 'YYYYMMDD') AS RECRUIT_END_DATE
		   , A.STATUS
		   , A.VIEW_CNT
	FROM POST A
	LEFT JOIN (
		SELECT
				POST_ID
			  , LISTAGG(TECH_STACK_CD, ',')
			    WITHIN GROUP (ORDER BY TECH_STACK_CD) AS TECH_STACK
		FROM POST_TECH_STACK
		GROUP BY POST_ID
	)B
    ON A.POST_ID = B.POST_ID
	LEFT JOIN CMM_CODE_DTL C1
      ON C1.COM_CD_ID = 'PROGRESS_TYPE_CD'
 	AND C1.DTL_CD_ID = A.PROGRESS_TYPE_CD
    LEFT JOIN CMM_CODE_DTL C2
  	  ON C2.COM_CD_ID = 'RECRUIT_POSIT_TYPE_CD'
 	AND C2.DTL_CD_ID = A.RECRUIT_POSIT_TYPE_CD
 	LEFT JOIN CMM_CODE_DTL C3
      ON C3.COM_CD_ID = 'RECRUIT_TYPE_CD'
	AND C3.DTL_CD_ID = A.RECRUIT_TYPE_CD
	<where>
	<if test="keyword != '' and keyword != null">
		(A.TITLE LIKE #{keyword} || '%' OR A.CONTENT LIKE #{keyword} || '%')
	</if>

	</where>
 	ORDER BY A.REG_DT DESC
    </select>


    <insert id="createPost" parameterType="PostRequestDto">
    <selectKey keyProperty="postId" resultType="long" order="BEFORE">
   	 SELECT POST_SEQ.NEXTVAL FROM DUAL
	</selectKey>

	    INSERT INTO POST(
				POST_ID					/* 게시판 아이디 */
			  , USER_ID					/* 사용자 아이디 */
			  , TITLE					/* 제목 */
			  , CONTENT					/* 내용 */
			  , RECRUIT_TYPE_CD			/* 모집구분코드 */
			  , RECRUIT_CNT				/* 모집인원 */
			  , PROGRESS_TYPE_CD		/* 진행방식구분코드 */
			  , PROGRESS_PERIOD			/* 진행기간 */
			  , RECRUIT_END_DATE		/* 모집마감일 */
			  , RECRUIT_POSIT_TYPE_CD	/* 모집포지션구분코드 */
			  , CONTACT_METHOD_CD		/* 연락방법구분코드 */
			  , STATUS					/* 상태 */
			  , VIEW_CNT				/* 조회수 */
			  , REG_DT					/* 등록일 */
		)VALUES(
			    #{postId}				/* 게시판 아이디 */
			  , #{userId}				/* 사용자 아이디 */
			  , #{title}				/* 제목 */
			  , #{content}				/* 내용 */
			  , #{recruitTypeCd}		/* 모집구분코드 */
			  , #{recruitCnt}			/* 모집인원 */
			  , #{progressTypeCd}		/* 진행방식구분코드 */
			  , #{progressPeriod}		/* 진행기간 */
			  , #{recruitEndDate}		/* 모집마감일 */
			  , #{recruitPositTypeCd}	/* 모집포지션구분코드 */
			  , #{contactMethodCd}		/* 연락방법구분코드 */
			  , 'ACTIVE'				/* 상태 */
			  , '0'						/* 조회수 */
			  , SYSDATE					/* 등록일 */
		)
    </insert>


	 <insert id="insertPostTechStack" parameterType="PostRequestDto">
	    INSERT ALL
	    <foreach collection="techStackTypeCd" item="tech">
	        INTO POST_TECH_STACK(
	            POST_ID,
	            TECH_STACK_CD
	        ) VALUES (
	            #{postId},
	            #{tech}
	        )
	    </foreach>
	    SELECT 1 FROM DUAL
	</insert>

	<insert id="insertPostFiles" parameterType="java.util.List">
	  INSERT INTO POST_FILE (
	    POST_FILE_ID,
	    POST_ID,
	    FILE_ID,
	    REG_DT
	  )
	  SELECT
	    POST_FILE_SEQ.NEXTVAL,
	    D1.POST_ID,
	    D1.FILE_ID,
	    SYSDATE
	  FROM (
	    <foreach collection="list" item="item" separator="UNION ALL">
	      SELECT
	        #{item.postId} AS POST_ID,
	        #{item.fileId} AS FILE_ID
	      FROM dual
	    </foreach>
	  ) D1
	</insert>



</mapper>